/* OrderTimeline.css */

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    padding-left: 30px;
  }
  
  .timeline-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
    border-radius: 10%;
    border: 2px solid grey;
  }
  
  .timeline-item p {
    font-size: 14px;
    color: #333;
  }
  
  .timeline-item.active {
    background-color: #007bff; /* Active status background color */
  }
  
  .timeline-item.active p {
    color: #fff; /* Active status text color */
  }
  